#receipt_wrapper
{
	width: 100%; margin: 0 auto; max-width: 800px;
}

#receipt_header
{
	text-align:left;
}

#company_name
{
	font-size:150%;
	font-weight:bold;
}

#company_name img
{
	max-width: 150px;
	max-height: 150px;
}

#company_phone
{
	margin-bottom:15px;

}

#sale_time
{
	margin-bottom:5px;
}

#receipt_items
{
	position:relative;
	border-collapse:collapse;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
}

#receipt_items td
{
	position:relative;
	padding:3px; margin-bottom:5px;
	
}

#receipt_items tr
{
	margin-bottom:5px;	
}

#sale_return_policy
{
	width:80%;
	margin:0 auto;
	text-align:center;
}

#receipt_wrapper #barcode
{
	margin-top:10px;
	text-align:center;
}

.total-value 
{
	text-align: right;		
}

.center-value
{
	text-align: center;		
}

.discount
{
	font-weight: bold;
}

#receipt_wrapper textarea { border: 0; font-size: 14px; overflow: hidden; resize: none; }
#receipt_wrapper table td{ border: 0px solid black; padding: -10px; }
#receipt_wrapper table th{ border: 0px solid black; padding: 5px; }
#receipt_wrapper table td { padding: 2px; }


/* #receipt_items { clear: both; width: 100%; border: 1px solid black; font-size: 12px}
#receipt_items th { background: #eee; text-align: center; }
#receipt_items textarea { width: 80px; height: 20px; }
#receipt_items tr.item-row td { border: 0; vertical-align: top; }
#receipt_items td.description { width: 300px; }
#receipt_items td.item-name { width: 350px; }
#receipt_items td.warrenty { width: 50px; }
#receipt_items td.item-description textarea { height: auto; width: 100%; }
#receipt_items td.description textarea, #items td.item-name textarea { width: 100%; }
#receipt_items td.total-line { border-right: 0; text-align: right; }
#receipt_items td.total-value { width: 100px; border-left: 0;  }
#receipt_items td.total-value textarea { height: 20px; background: none; }
#receipt_items td.total-line textarea { height: 20px; width:150px; background: none; }
#receipt_items td.balance { background: #eee; }
#receipt_items td.blank { border: 0; }
#receipt_items td.blank-bottom { border: 1px; } */

#metacominfo { margin-top: 0px; width: 200px; float: left; width:50%}
#metacominfo td { text-align: right;   border: none}
#metacominfo td.meta-head { text-align: right; font-weight: bold; font-family: 'calibri'; font-size: 15px;}
#metacominfo td.meta-body { text-align: left; font-family: 'calibri'; font-size: 15px;}
#metacominfo td textarea { width: 100%; height: 20px; text-align: right; }

#metacominfo td.meta-small { text-align: left; font-family: 'calibri'; font-size: 12px; font-weight: bold}

#items { clear: both; width: 100%; border: 0px solid black; font-size: 12px}
#items th { background-color: hwb(23 24% 16%); text-align: center; text-transform: uppercase;font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #000; border: 0px solid black;}
#items textarea { width: 80px; height: 20px; }
#items tr.item-row td { border: 0; vertical-align: top; font-size: 14px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1pt solid #000;}
#items tr.item-row-total td { border: 0; vertical-align: top; font-size: 14px; font-family: Arial, Helvetica, sans-serif;}
#items td.description { width: 250px; }
#items td.item-name { width: 350px; }
#items td.warrenty { width: 50px; }
#items td.item-description textarea { height: auto; width: 100%; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { width: 150px; border-left: 0;  }
#items td.total-value textarea { height: 20px; background: none; }
#items td.total-line textarea { height: 20px; width:150px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }
#items td.blank-bottom { border: 1px; }

#block2 { overflow: hidden; width: 100%; }
#company-title { float: left; font-size: 12px; }
#meta { margin-top: 0px; width: 200px; float: right; }
#meta td { text-align: right;   border: none}
#meta td.meta-head { text-align: right; font-weight: bold; font-family: 'calibri'; font-size: 15px;}
#meta td.meta-body { text-align: left; font-family: 'calibri'; font-size: 15px;}
#meta td textarea { width: 100%; height: 20px; text-align: right; }

